# List

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]
print("a[0:]",a[0])

In [ ]:
a[1]

In [ ]:
a[-4]

In [ ]:
a=[]
print(type(a))

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]
for t in a:
    print(t,end=" ")

In [ ]:
i=0
while i<8:
    print(a[i])
    i=i+1

In [ ]:
Marks=[10,23,41,75]
print(Marks[0])
print(Marks[-1])

In [ ]:
Marks=[10,23,41,75]
i=0
while i<4:
    print(Marks[i])
    i=i+1

In [ ]:
Marks=[10,23,41,75]
i=-1
while i>=-4:
    print(Marks[i])
    i=i+-1

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]  #slicing
print(a[0:5])

In [ ]:
a[3:6]

In [ ]:
a[2:]

In [ ]:
a[:3]

In [ ]:
a[1:-1]

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]
b=["red","pink"]
a+b

In [ ]:
len(a+b)

In [ ]:
print(a*2)

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]
a[1]="orange"
print(a)

In [ ]:
a[1:3]

In [ ]:
a[1:3]=["pineapple","chery"]
print(a)

In [ ]:
a[3:5]=['v','z']
a

In [ ]:
b=a+[24,25]    #concatination
b

In [ ]:
b[:]=[]
b

In [ ]:
a=["apple","banana","kiwi",1,2,3,True,3.9]
a.append(1)
print(a,end=" ")

In [ ]:
a.append([2,5,8])
a

In [ ]:
a[9][1]

In [ ]:
a[-1][0]

In [ ]:
 a.extend([1,10])
print(a,end=" ")

In [ ]:
a.insert(3,"new_inserted_item")
print(a,end=" ")

In [ ]:
a.remove(1) 
a

In [ ]:

a.count(1)

In [ ]:
a.index('banana')

In [ ]:
a.reverse()
a

In [ ]:
b=[8,7,5,9,3,2,5]
b.sort()
b

In [ ]:
b.sort(reverse=True)  # for decending order
b

In [ ]:
b=[8,7,5,9,3,2,5]
max(b)

In [ ]:
min(b)

In [ ]:
len(b)

In [ ]:
l=[1,9,5]
sum(l)

In [ ]:
d=[2,22,222,14,25]
d[:-1]

In [ ]:
name=['amit','shivani','deep']
name[-1][-1]

In [ ]:
names1=['Amir','Bear','Chariton','Daman']
names2=names1
names3=names1[:]
names2[0]='Alice'
names3[1]='Bob'
sum=0
for ls in(names1,names2,names3):
    print(ls)
    if ls[0]=='Alice':
        sum+=1
    if ls[1]=='Bob':
        sum+=10
    print(sum)

### Homework

In [57]:
#Write a python program that creates a list of numbers from 1 to 40 that are divisible by 4 and print the list.
divisible_by_4 = []
for num in range(1, 41):
    if num % 4 == 0:
        divisible_by_4.append(num)
print(divisible_by_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [66]:
#Write a python program to take input for two lists from the user and print the element which is common in both the lists
list1=list(input("Enter the elements for list1:"))
list2=list(input("Enter the elements for list2:"))
print("Commom elements in both lists are:")
for i in range(len(list1)):
    for j in range(len(list2)):
        if (list1[i]==list2[j]):
            print(list1[i],"\t")
        else:
            pass

Enter the elements for list1:abcd
Enter the elements for list2:mncd
Commom elements in both lists are:
c
d

# Tuple

In [ ]:
tup=('apple','banana','chery','chery')
tup

In [ ]:
print(type(tup))

In [ ]:
a='apple','banana','chery'
print(type(a))

In [ ]:
print(tup[3])

In [ ]:
print(tup[1])

In [ ]:
len(tup)

In [ ]:
a=("apple")
print(type(a))

In [ ]:
s=('apple',)
print(type(s))

In [ ]:
t=("apple",1,2,2.4,3+j,True)
t[0]

In [ ]:
t[-1]

In [ ]:
t=("apple","banana","chery","orange","kiwi","melon","mango")
t

In [ ]:
t[2:5]

In [ ]:
t[:4]

In [ ]:
t[2:]

In [ ]:
t[-4:-1]      #-4 in included and -1 is excluded

In [1]:
t=("apple","banana","chery","orange","kiwi","melon","mango")
if "apple" in t:
    print("yes,'apple'is present in the tupel")

yes,'apple'is present in the tupel

In [4]:
a=("apple","banana","nnn",11,13.7,True)
b=list(a)
b[2]="kiwi"
a=tuple(b)
a

('apple', 'banana', 'kiwi', 11, 13.7, True)

In [5]:
a=("apple",)
b=list(a)
b[0]="kiwi"
a=tuple(b)
a

('kiwi',)

In [6]:
a=("apple","banana","nnn",11,13.7,True)
b=list(a)
b.insert(3,"kiwi")
a=tuple(b)
a

('apple', 'banana', 'nnn', 'kiwi', 11, 13.7, True)

In [26]:
a=("apple","banana","nnn",11,13.7,True)
b=list(a)
b.append(("shivani",6))
a=tuple(b)
a

('apple', 'banana', 'nnn', 11, 13.7, True, ('shivani', 6))

In [27]:
a[-1][-2]

'shivani'

In [28]:
len(a)

7

In [24]:
a=("apple","banana","nnn",11,13.7,True)
b=list(a)
b.extend([30,8])
a=tuple(b)
a

('apple', 'banana', 'nnn', 11, 13.7, True, 30, 8)

In [25]:
len(a)

8

In [29]:
x=("apple","banana","nnn",11,13.7,True)
y=("shivani",8,6)
x+=y             #concatination
x

('apple', 'banana', 'nnn', 11, 13.7, True, 'shivani', 8, 6)

In [40]:
x=("apple","banana","nnn",11,13.7,True)
y=x*2
print(y,end=" ")

('apple', 'banana', 'nnn', 11, 13.7, True, 'apple', 'banana', 'nnn', 11, 13.7, True)

In [32]:
x=("aaa","bbb","ccc")
a1,a2,a3=x           #Tuple unpacking
print(a2,a1)

bbb aaa

In [36]:
t=("apple","banana","cherry")
for i in t:
    print(i)

apple
banana
cherry

In [34]:
t=("apple","banana","cherry")
for i in range(len(t)):
    print(t[i])

apple
banana
cherry

In [41]:
h=(1,2,3,4,5,1,1,1,1)
h.count(1)

5

In [42]:
h.index(5)

4

In [43]:
max(h)

5

In [44]:
min(h)

1

### #Homewoek

In [49]:
#Exercise 1: Reverse the tuple
 

original_tuple = (1, 2, 3, 4, 5)
print("the original tuple is",original_tuple)

# Convert the tuple to a list, reverse it, and convert it back to a tuple
reversed_tuple = tuple(reversed(list(original_tuple)))

# Print the reversed tuple
print("the reversed tuple is",reversed_tuple)

the original tuple is (1, 2, 3, 4, 5)
the reversed tuple is (5, 4, 3, 2, 1)

In [50]:
#Exercise 2: Swap two tuples in Python
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Swapping the tuples
temp = tuple1  # Store tuple1 in a temporary variable
tuple1 = tuple2  # Assign tuple2 to tuple1
tuple2 = temp  # Assign the temporary variable (containing the original tuple1) to tuple2

# Print the swapped tuples
print("Swapped tuple1:", tuple1)
print("Swapped tuple2:", tuple2)

Swapped tuple1: (4, 5, 6)
Swapped tuple2: (1, 2, 3)

In [51]:
#Exercise 3: Write a program to copy elements 44 and 55 from the following tuple into a new tuple.
#tuple1 = (11, 22, 33, 44, 55, 66)

tuple1 = (11, 22, 33, 44, 55, 66)

# Create a new tuple with elements 44 and 55
new_tuple = (tuple1[3], tuple1[4])

# Print the new tuple
print("New tuple:", new_tuple)

New tuple: (44, 55)