In [ ]:
10+23

33

In [ ]:
print("Welcome to EXcelR!!")

Welcome to EXcelR!!

In [ ]:
"Hello!"

'Hello!'

In [ ]:
print("\"Welcome to ExcelR!\"")    # to see "" in output we used backslash

"Welcome to ExcelR!"

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
3**2

9

In [ ]:
price=50.5
print(price)   # print is to sewe intermediate line's output
type(price)

50.5

float

In [ ]:
name="Shivani"
print(name)
type(name)

Shivani

str

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1

'welcome to Data Science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()   # covert every words 1st letter to upper case

'Welcome To Data Science'

In [ ]:
food="Biryani"
name="snehal"
print(food.swapcase())
name.swapcase()           # swapcase converts upper case to lowercase and vise-versa

bIRYANI

'SNEHAL'

In [ ]:
s1="My name is Shivani"
print(s1.split())         #list of strings is created
s2="Mumbai-Pune-mumbai"
s2.split("-")

['My', 'name', 'is', 'Shivani']

['Mumbai', 'Pune', 'mumbai']

In [ ]:
mail="Shivami@pawar.com"
mail.split("@")

['Shivami', 'pawar.com']

In [ ]:
s1

'My name is Shivani'

In [ ]:
s1.replace("Shivani","Jyoti")

'My name is Jyoti'

In [ ]:
#single line comment
'''
multiple-line comment
'''

'\nmultiple-line comment\n'

In [ ]:
city="satara"      #"satara".count("a")
city.count("a")

3

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*7

35

In [ ]:
name="Rajesh"
surname="Kulkarni"
name + surname        #concatenates without space

'RajeshKulkarni'

In [ ]:
name + " " +surname  #Adding 3 strings i.e Rajesh space and Kulkarni

'Rajesh Kulkarni'

In [ ]:
#Conditional Statements
a=130
b=50
if a>b:
  print(" a is greater")
  print("In True Block")
  c=a+b
  print(c)
else:
  print("b is greater")
  print("In False Block")
  c=a*b
  print(c)

 a is greater
In True Block
180

In [ ]:
a=1200
b=300
if (a>b):
  print(a,"is Greater")
else:
  print("Greater number is:",b)

1200 is Greater

In [ ]:
salary=15000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from ture if / else")
print("Bye..........outside of if block")
net_salary=salary-tax*salary
print("Net Salary:",net_salary)

Hello from ture if / else
Bye..........outside of if block
Net Salary: 12000.0

In [ ]:
#Lopps
#For loop
for i in range(1,11):        #print numbers from  5 to 9    Default increment is 1    where i is iteration variable
  print(i)
print("Bye")

1
2
3
4
5
6
7
8
9
10
Bye

In [ ]:
for i in range(1,11,2):         # start ,stop, step
  print(i)

1
3
5
7
9

In [ ]:
#print all even and odd numbers between range  1 to 20
print("Even Numbers:")
for i in range(1,21):
  if i%2==0:
    print(i,end=" ")

print(" ")

print("Odd Numbers:")
for i in range(1,21):
  if i%2!=0:
    print(i, end=" ")

Even Numbers:
2 4 6 8 10 12 14 16 18 20
Odd Numbers:
1 3 5 7 9 11 13 15 17 19

In [ ]:
# break statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i==5:
    print("Same")
    break             # if we put break is comment then after Same  number will be continue
  else:
    print(i)

1
2
3
4
Same

In [ ]:
for num in range(11):       # 0 to 10
  print(num,num*num)         # number and its squares

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for i in range(1,30,5):     # start, stop,step
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [ ]:
#print each letter of movie on seperate line
#change case of each latter (upper to small and small to upper) of movie on single line
movie='Drishyam'
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end="  ")

d  R  I  S  H  Y  A  M

In [ ]:

'''
name="Shivani "
for i in range(3,7):
  x=(name + " " )*i       # this is to add space
  print(x)
'''
name="Shivani"
for i in range(3,7):
  print(name*i)

ShivaniShivaniShivani
ShivaniShivaniShivaniShivani
ShivaniShivaniShivaniShivaniShivani
ShivaniShivaniShivaniShivaniShivaniShivani

In [ ]:
status=True
type(status)

bool

In [ ]:
#print each latter 4 times with seperator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
len("My name")

7

In [ ]:
name="shivani"
name[0:4]

'shiv'

In [ ]:
#Data Structure : #############################  1.List  #########################
#Lista are mutable
#Created using square backets[]
marks=[98,45,78,34,56,45,65]
marks

[98, 45, 78, 34, 56, 45, 65]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks=sorted(marks)   # creates new sorted list     original list remains unchanged
new_marks

[34, 45, 45, 56, 65, 78, 98]

In [ ]:
marks

[98, 45, 78, 34, 56, 45, 65]

In [ ]:
marks.sort()    #sor in ascending order
marks

[34, 45, 45, 56, 65, 78, 98]

In [ ]:
marks.sort(reverse=True)    #sort in descending order when reverse is True    by default it sort in ascending
marks

[98, 78, 65, 56, 45, 45, 34]

In [ ]:
marks.append(30)     # Append will add element at last position
marks

[98, 78, 65, 56, 45, 45, 34, 30]

In [ ]:
marks.reverse()
marks

[30, 34, 45, 45, 56, 65, 78, 98]

In [ ]:
40 in marks  # checks whether 40 is present in the list or not

False

In [ ]:
30 in marks

True

In [ ]:
list1=[23,45,56]
list2=[12,35,67]
list1+list2          # concatenates two lists

[23, 45, 56, 12, 35, 67]

In [ ]:
(list1+list2)*3

[23, 45, 56, 12, 35, 67, 23, 45, 56, 12, 35, 67, 23, 45, 56, 12, 35, 67]

In [ ]:
#List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
#Display fruits by changing case of all fruits to uppercase
for fruits in list3:
  #print(fruits.upper())
  #print(fruits.upper(),end=" ")    #In single line
   print(fruits.replace("u","a"),end=" ")

Mango Apple Banana Pineapple Castard Apple Strawberry

In [ ]:
#In Python idexing starts with 0
#allows nwgitive indexing
list3[0]

'Mango'

In [ ]:
list3.count("Banana")

1

In [ ]:
list3[5]

'Strawberry'

In [ ]:
list3[-1]

'Strawberry'

In [ ]:
#slicing
list3[0:4]   #list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
list3[1:6]     #list3[1:]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
#start,stop,step in slicing
list3[::2]     # list3[0:6:2]        0,2,4

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
n1[2:27:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1]   #list3.reverse()
                #list3

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
#use of in keyword
"the" in "Netherland"

True

In [ ]:
"there" in "Netherland"

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Mulberry']

In [ ]:
list3.append("Black berry")
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Mulberry', 'Black berry']

In [ ]:
#list3.remove("Mulberry")  #removes mentioned element
#list3

In [ ]:
#display fruits which contain the substring berry using for loop
for fruits in list3:
  if "berry" in fruits:
    print(fruits)

Strawberry
Mulberry
Black berry

In [ ]:
#display fruits which contain the substring berry using for loop in list4 nad remaining fruits in list5
list4=[]
list5=[]
for fruits in list3:
  if "berry" in fruits:
    list4.append(fruits)
  else:
    list5.append(fruits)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
 #display fruits which contain the substring pple  using for loop
for fruits in list3:
  if "pple" in fruits:
    print(fruits)

Apple
Pineapple
Custard Apple

In [ ]:
#print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in list1:
  l2.append(i**2)    # list2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
#List Comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
newlist=[ fruits for fruits in list3 if "berry" in fruits ]
newlist

['Strawberry', 'Mulberry', 'Black berry']

In [ ]:
newlist1=[ fruits for fruits in list3 if "berry" not in  fruits ]
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
city=["Pune","Mummai","Satara","Thane","Solapur","Kolhapur"]

In [ ]:
newcity=[i for i in city if "pur" not in  i]
newcity

['Pune', 'Mummai', 'Satara', 'Thane']

In [ ]:
list3.index("Mango")

0

In [ ]:
list3.index("Black berry")

7

In [ ]:
list3[2]="Orange"     # lists are mutable -you can replace items of lists
print(list3,end=" ")

['Mango', 'Apple', 'Orange', 'Pineapple', 'Custard Apple', 'Strawberry', 'Mulberry', 'Black berry']

In [ ]:
 #Data Structure #################################### 2. Tuples ###################################
 #tuples are immutable
 #created using ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[1]

2

In [ ]:
t1[1]=7    #will raise an error cause tuple is immutable

In [ ]:
t3=t1+(6,7,8,9)      # concatenation
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
dir(tuple)

In [ ]:
t1.count(1)

1

In [ ]:
t1.index(4)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6,6)
t2

(1, 1, 1, 2, 2, 6, 6, 6, 6, 6, 6)

In [ ]:
t2.count(6)

6

In [ ]:
#indexing and slicing with tuple  same as list
t1[2]

3

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
t1[3:]

(4, 5)

In [ ]:
# Data Structure : ######################################## 3.Dictionary ########################################
#Dictionaris are used to store data values in "key-value pairs".
#A Dictionary is a collection wich is ordered,changebale and do not allow duplicates.
#Dictionaries are written with curley brackets {"Key": "Value"} and have keys and values
# here keys are unique indentifiers that are associated with each other
capital_dic={"Nepat":"Kathmandu","Italy":"Rome","England":"Landon"}
capital_dic

{'Nepat': 'Kathmandu', 'Italy': 'Rome', 'England': 'Landon'}

In [ ]:
type(capital_dic)

dict

In [ ]:
dir(dict)

In [ ]:
#Access element of dict
capital_dic["England"]

'Landon'

In [ ]:
#keys metho extract the keys of dictionary
capital_dic.keys()

dict_keys(['Nepat', 'Italy', 'England'])

In [ ]:
# The value() returns values of dictionary
capital_dic.values()

dict_values(['Kathmandu', 'Rome', 'Landon'])

In [ ]:
#items() return all key-value pairs of dictionary
capital_dic.items()

dict_items([('Nepat', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'Landon')])

In [ ]:
#The update()method updates the dictionary with the elements from another dictionary
add_capital={"India":"New Delhi","abc":"xyz"}
capital_dic.update(add_capital)                           # 1st way of adding  key-value pair
capital_dic

{'Nepat': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'Landon',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dic.update({"Austrelia":"Sydney"})
print(capital_dic ,end=" ")                                        # 2nd way of adding key-value pair

{'Nepat': 'Kathmandu', 'Italy': 'Rome', 'England': 'Landon', 'India': 'New Delhi', 'abc': 'xyz', 'Austrelia': 'Sydney'}

In [ ]:
capital_dic.pop("Austrelia")     # remove mentioned  key-value pair

'Sydney'

In [ ]:
capital_dic

{'Nepat': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'Landon',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dic["abc"]="Mumbai"    #changing value for key
capital_dic

{'Nepat': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'Landon',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [ ]:
capital_dic.popitem()    # popitem(removes last key-value pair

('abc', 'Mumbai')

In [ ]:
capital_dic

{'Nepat': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'Landon',
 'India': 'New Delhi'}

In [ ]:
#Dictionary values can be of different data types
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [ ]:
mytuple=(20,45,67,89,43,56,54)

In [ ]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dic
        }
mydict                                           #Indexing is not there in dictionary  to access value we use key name

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 45, 67, 89, 43, 56, 54),
 'C': {'Nepat': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'Landon',
  'India': 'New Delhi'}}

In [ ]:
mydict["C"]

{'Nepat': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'Landon',
 'India': 'New Delhi'}

In [ ]:
mydict["A"][2]

'Strawberry'

In [ ]:
mydict["C"]["Italy"]

'Rome'

In [ ]:
mydict["B"][3]

89

In [ ]:
from math import sqrt
sqrt(25)

5.0

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
from math import sin,cos,tan
sin(90)

0.8939966636005579

In [ ]:
tan(45)

1.6197751905438615

In [ ]:
cos(0)

1.0

In [ ]:
from math import *
listnew=[5,2,3]
prod(listnew)

30

In [ ]:
prod([2,3])

6